body {
    margin: auto;
    max-width: 45em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: gainsboro;
}

.header {
    background: skyblue;
    font-size: x-large;
    font-weight: bold;
    padding: 2em 1em;
    border-radius: .5em;
    margin-bottom: .5em;
}

.resto-list {
    display: block;
    float: left;
    padding: .5em;
    max-width: fit-content;
}

nav li {
    display: block;
    padding: 1em;
    background: white;
    border-radius: .5em;
    margin: auto;
    min-width: 210px
}

ul {
    padding-left: 0%;
    margin: 0%;
}

#create-new {
    display: grid;
    float: left;
    padding: .5em;
    width: 250px
}

.search {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 15em;
}

form {
    display: grid;
    padding: .5em;
    background: skyblue;
    row-gap: .3em;
    border-radius: .5em;
}

form #login-button {
    grid-column-start: 1;
}

form #query-button {
    padding: 5px;
    width: 100px;
}

#login {
    display: block;
    float: right;
    padding-top: 0%;
    padding-left: .3em;
}

.content {
    background: whitesmoke;
    margin: auto;
    height: auto;
    padding: 1.5em 2em;
    border-radius: .5em;
    overflow: auto;
}

.back {
    max-width: 100px;
    height: auto;
    padding: .5em;
    padding-left: 0%;
}

#delete-button {
    float: left;
    display: grid;
    background: none;
    padding: .5em;
    padding-left: 0%;
}

.box {
    width: 300px;
    height: auto;
    padding: .5em;
    padding-top: 0%;
  }

  .friend-box {
    width: 200px;
    padding: .5em;
    margin: .5em;
    margin-left: 0%;
  }