<!doctype html>
<html lang="fi">

<head>
    <title>Ravintolasovellus - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <div class="header">
        <h1>Ravintolasovellus</h1>
    </div>

    <div class="content">

        <div id="login">
            {% if session.username %}
            <nav>
                
                <ul>
                    <li>{{ session.username  }} kirjautuneena</li>
                    <li><a href="/personal">Omat arviot</a></li>
                    <li><a href="/new">Lisää ravintola</a></li>
                    <li><a href="/logout">Kirjaudu ulos</a></li>
                </ul>
            </nav>  
            
            {% else %}
            <form action="/login" method="POST">
                <label for="username">Käyttäjänimi:</label>
                <input id="login" type="text" name="username" required>
                <label for="password">Salasana:</label>
                <input id="login" type="password" name="password" required>
                <input id="login-button" type="submit" value="Kirjaudu sisään">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <br>
            {% if session.invalid_user %}
            <br>Väärä käyttäjänimi tai salasana<br>
            {% endif %}
            Ei käyttäjää?<br>
            <a href="/register">Rekisteröi uusi käyttäjä</a>
            {% endif %}
            </form>
        </div>

        {% block content %}{% endblock %}

    </div>
</body>

</html>