{% extends "layout.html" %}
{% block title %}Ravintolasovellus{% endblock %}

{% block content %}
<div>
    {% if friends %}
    {% for friend in friends %}
        {% if friend.accepted %}
            {{ friend.username }}<hr>
        {% else %}
            {{ friend.username }} lähetti ystäväpyynnön
            <form id="box" action="/accept_friend/{{ friend.user2_id }}" method="POST">
                <input id="query-button" type="submit" value="Hyväksy">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="user1_id" value="{{ friend.user1_id }}">
                <input type="hidden" name="user2_id" value="{{ friend.user2_id }}">
            </form>
        {% endif %}
    {% endfor %}
    {% endif %}
</div>

<div>
    {% if visible %}
        <hr>
        {% for review in reviews %}
        <h3>
            {{review.name}}<br>
        </h3>
            {{review.content}}<br>
            <br>
            <a href="/restaurant/{{ review.resto_id }}">Tarkastele ravintolaa</a><br>
            <form id="delete-button" action="/delete_review/{{ review.id }}" method="POST">
                <input type="submit" value="Poista arvio">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            <br><br>
        <hr>
        
        {% endfor %}
    {% else %}
        Et ole antanut arvioita.
    {% endif %}
</div> 

<div>
    <a href="/">Mene takaisin</a>
</div>
{% endblock %}