<p>
    {% if session.username %}
    {{ session.username  }} kirjautuneena<br>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <form action="/login" method="POST">
        <p>Käyttäjänimi:<br>
            <input type="text" name="username">
        </p>
        <p>
            Salasana:<br>
            <input type="text" name="password">
        </p>
        <input type="submit" value="Kirjaudu sisään">
        <p>
            Ei käyttäjää?<br>
            <a href="/register">Rekisteröi uusi käyttäjä</a>
        </p>
    </form>
    {% endif %}
</p>

<p>
    {% if reviews %}
        {% for review in reviews %}
        {% if review.visible %}
        
        {{review.name}}<br>
        {{review.content}}<br>
        <br>
        <a href="/restaurant/{{ review.resto_id }}">Tarkastele ravintolaa</a><br>
        <form action="/delete_review/{{ review.id }}" method="POST">
            <input type="submit" value="Poista arvio">
        </form>
        <hr>
        {% endif %}
        {% endfor %}
    {% else %}
        Et ole antanut arvioita.
    {% endif %}
</p> 