{% if session.passwords_differ %}
Salasanat eroavat toisistaan. Yritä uudelleen
{% elif session.username_in_use %}
Käyttäjänimi on jo käytössä. Yritä uudelleen
{% endif %}
<form action="/register" method="POST", onsubmit="return check(this)">
    <p>
        Käyttäjänimi: <br>
        <input type="text" name="username">
    </p>
    <p>
        Salasana: <br>
        <input type="password" name="password">
    </p>
    <p>
        Salasana uudestaan: <br>
        <input type="password" name="password_again">
    </p>
    <input type="submit" name="Rekisteröidy">
</form>
<a href="/">Mene takaisin</a>

<script>
    function check(form) {
        if (form.password.value != form.password_again.value) {
            alert("Salasanat eroavat toisistaan. Yritä uudelleen");
            return false;
        }
        return true;
    }
</script>