{% extends "layout.html" %}
{% block title %}Ravintolasovellus{% endblock %}

{% block content %}

<div>
    {% if session.passwords_differ %}
    Salasanat eroavat toisistaan. Yritä uudelleen
    {% elif session.username_in_use %}
    Käyttäjänimi on jo käytössä. Yritä uudelleen
    {% endif %}
</div>

<form action="/register" method="POST", onsubmit="return check(this)">
    <div>
        <label for="username">Käyttäjänimi:</label><br>
        <input type="text" name="username" required placeholder="Käyttäjänimi"
        oninvalid="this.setCustomValidity('Syötä käyttäjänimi tähän')"
        oninput="this.setCustomValidity('')">
    </div>
    <div>
        <label for="password">Salasana:</label><br>
        <input type="password" name="password" required placeholder="Salasana"
        oninvalid="this.setCustomValidity('Syötä salasana tähän')"
        oninput="this.setCustomValidity('')">
    </div>
    <div>
        <label for="password_again">Salasana uudelleen:</label><br>
        <input type="password" name="password_again" required placeholder="Salasana uudelleen"
        oninvalid="this.setCustomValidity('Syötä salasana uudelleen')"
        oninput="this.setCustomValidity('')">
    </div>
    <input id="button" type="submit" value="Rekisteröidy">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<a href="/">Mene takaisin</a>

<script>
    function check(form) {
        if (form.password.value != form.password_again.value) {
            alert("Salasanat eroavat toisistaan. Yritä uudelleen");
            return false;
        }
        return true;
    }
</script>
{% endblock %}