{% extends "layout.html" %}
{% block title %}Ravintolasovellus{% endblock %}

{% block content %}
<form action="/create_review/{{ id }}", method="POST" onsubmit="return check(this)">
    <p>
        {{ name }}
    </p>
    <p>
        Kirjoita arvostelu: <br>
        <textarea name="content"></textarea>
    </p>
    <input type="submit" value="Lähetä arvostelu">
</form>
<a href="/">Mene takaisin</a>

<script>
    function check(form) {
        if (form.content.value.length > 5000) {
            alert("Syötetty arvio on liian pitkä");
            return false;
        }
        return true;
    }
</script>
{% endblock %}